<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>
    <span class="spacer"></span>
    <ul class="nav-right">
      <li>
        <a [routerLink]="['/villages']" mat-button id="villages">
          Villages
        </a>
      </li>
      <li>
        <a [routerLink]="['/collection-agents']" mat-button id="collection-agents">
          Agents
        </a>
      </li>
      <li>
        <a [routerLink]="['/fats']" mat-button id="fats">
          Fats
        </a>
      </li>
    </ul>

  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span>Second Row</span>
  </mat-toolbar-row> -->
</mat-toolbar>